&.chalkboard
  font-family 'Shadows Into Light Two', cursive
  background transparent url('./img/chalk.jpg')
  background-size cover
  position relative
  width 1000px
  height 600px
  svg
    position absolute
    top 0px
    left 0px
    rect
      fill white
    .tick
      text
        fill white
      text.country
        opacity 0
        fill white
      &.active
        text.country
          opacity 1
      &.cz
        text.country
          fill #f88
          text-decoration underline
          opacity 0.8
        rect
        text.count
          display none
  h2
    position absolute
    top 0px
    left 40px
    font-size 30px
    font-weight normal
    color white
